.container {
  display: flex;
  background: #ececec;
  .sideBar {
    width: 30%;
    margin: 5% 2% 0 5%;
  }
  .lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3% 0 5% 0;
  }
}
