@import "../../variables";
.cardWrapper {
  width: 100%;
  height: calc(100% - 20px);
  .title {
    font-size: 1rem;
    color: $black-color;
  }
  .checklist {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      margin: 0;
    }
  }
}
